<!-- begin :: Page CSS -->
<th:block th:fragment="page_css"></th:block>
<!-- end :: Page CSS -->

<!-- begin :: Content -->
<th:block th:fragment="content">
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<span class="kt-portlet__head-icon">
					<i class="kt-font-brand flaticon2-line-chart"></i>
				</span>
				<h3 class="kt-portlet__head-title">
					Danh Sách Đơn Hàng
				</h3>
			</div>
			<div class="kt-portlet__head-toolbar">
				<div class="kt-portlet__head-wrapper">
					<a th:href="@{/adminDashboard}" class="btn btn-clean btn-icon-sm">
						<i class="la la-long-arrow-left"></i>
						Quay lại
					</a>
					&nbsp;
					<div class="dropdown dropdown-inline d-none">
						<button type="button" class="btn btn-brand btn-icon-sm">
							<i class="flaticon2-plus"></i> Thêm Mới
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="kt-portlet__body">

			<!--begin: Search Form -->
			<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
				<div class="row align-items-center">
					<div class="col-xl-12 order-2 order-xl-1">
						<form th:action="@{/searchOrder}" method="get" class="row align-items-center">
							<div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-input-icon kt-input-icon--left">
									<input type="text" name="nameSearch" value="" class="form-control" placeholder="Tìm kiếm..." id="generalSearch">
									<span class="kt-input-icon__icon kt-input-icon__icon--left">
										<span><i class="la la-search"></i></span>
									</span>
								</div>
							</div>
							<div style="" class="col-md-2 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Phương thức:</label>
									</div>
									<div class="kt-form__control">
										<select name="paymentMethod"  class="form-control bootstrap-select kt_form_method" id="kt_form_type">
											<option value="">Tất cả</option>
											<option value="ATM">ATM</option>
											<option value="COD">COD</option>
										</select>
									</div>
								</div>
							</div>
							<div style="" class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Thanh toán:</label>
									</div>
									<div class="kt-form__control">
										<select  name="paymentStatus" class="form-control bootstrap-select kt_form_payment" id="kt_form_status">
											<option value="">Tất cả</option>
											<option value="Waiting ATM">Chờ thanh toán ATM</option>
											<option value="Unpaid">Chưa thanh toán</option>
											<option value="Paid">Đã thanh toán</option>
											<option value="Refunded">Đã hoàn tiền</option>
											<option value="Canceled">Đã hủy bỏ</option>
										</select>
									</div>
								</div>
							</div>
							<div style="" class="col-md-3 kt-margin-b-20-tablet-and-mobile">
								<div class="kt-form__group kt-form__group--inline">
									<div class="kt-form__label">
										<label>Vận chuyển:</label>
									</div>
									<div class="kt-form__control">
										<select name="deliveryStatus"  class="form-control bootstrap-select kt_form_delivery" id="kt_form_status">
											<option value="">Tất cả</option>
											<option value="Approving">Chưa xét duyệt</option>
											<option value="Waiting">Chờ giao hàng</option>
											<option value="Waiting 2">Chờ giao hàng lần 2</option>
											<option value="Delivered 2">Đã giao hàng lần 2</option>
											<option value="Unsuccessful">Giao hàng thất bại</option>
											<option value="Successful">Giao hàng thành công</option>
											<option value="Cancelled">Đã hủy</option>
										</select>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 kt-margin-b-20-tablet-and-mobile m-1">
									<div class="kt-form__group kt-form__group--inline">
										<div class="kt-form__control">
											<input type="submit" value="Search" class="btn btn-primary">
										</div>
									</div>
								</div>
						</form>
						
						<div style="margin: 10px; display: flex; justify-content: space-between;"  class="col-md-4 kt-margin-b-20-tablet-and-mobile">
								<form th:action="@{/getOrderList}" method="get">
								    <input type="hidden" th:name="page" th:value="${page - 1}">
								    <input class="btn btn-primary" type="submit" value="Back">
								</form>
								<form th:action="@{/getOrderList}" method="get">
								    <input type="hidden" th:name="page" th:value="${page + 1}">
								    <input class="btn btn-primary" type="submit" value="Next">
								</form>
						</div>
					</div>
					<div class="col-xl-4 order-1 order-xl-2 kt-align-right">
						<a href="#" class="btn btn-default kt-hidden">
							<i class="la la-cart-plus"></i> New Order
						</a>
						<div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
					</div>
				</div>
			</div>

			<!--end: Search Form -->
		</div>
		<div class="kt-portlet__body kt-portlet__body--fit">

			<!--begin: Datatable -->
			<table style="border-collapse: collapse; width: 100%; margin: 20px">
						        <tr>
						            <th>ID</th>
						            <th>Người nhận hàng</th>
						            <th>Phương thức thanh toán</th>
						            <th>Trạng thái thanh toán</th>
						            <th>Trạng thái vận chuyển</th>
						            <th>Tổng tiền</th>
						            <th>Chỉnh sửa</th>
						            
						        </tr>
						        <tr th:each="order : ${ORDER_LIST}">
						            <td th:text="${order.id}"></td>
						            <td th:text="${order.consignee}"></td>
						            <td th:text="${order.paymentMethod}"></td>
						            <td th:text="${order.paymentStatus}"></td>
						            <td th:text="${order.deliveryStatus}"></td>
						            <td th:text="'$' + ${order.totalAmount}"></td>
						            <td>
										<a th:href="@{/updateOrderForm(page=${page != null ? page : 1}, id=${order.id})}" class="btn btn-sm btn-secondary">Update</a>
									</td>
						        </tr>
					</table>

			<!--end: Datatable -->
		</div>
	</div>
</th:block>
<!-- end :: Content -->

<!--begin :: Page Script (used by this page) -->
<th:block th:fragment="page_script">
	<script src="assets/js/template/orders.js" type="text/javascript"></script>
	<script src="assets/js/pages/crud/metronic-datatable/base/data-ajax.js" type="text/javascript"></script>
</th:block>
<!--end :: Page Script -->
