<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Form | TopShoe</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
	<div th:if="${updateProduct_error}" class="alert alert-danger" role="alert">
		  <strong>Update product failed! </strong> Please enter again
	</div>
	<div th:if="${updateProduct_success}" class="alert alert-success" role="alert">
		  <strong>Update product success!!! </strong>
	</div>
	
	<div class="m-5">
		<img height="100" width="100" style="border-radius: 50px" th:src="@{/productImage(id=${product.id})}" />
	</div>
					
	
    <form th:action="@{/updateProduct(page=${page != null ? page : 1}, id=${product.id})}" method="post" enctype="multipart/form-data" class="m-5">
        <div class="row mb-3">
            <div class="col">
                <label for="productName" class="form-label">Tên sản phẩm:</label>
                <input th:value="${product.name}" type="text" id="productName" name="productName" required class="form-control">
            </div>
            <div class="col">

                <label for="productImage" class="form-label">Ảnh sản phẩm:</label>
                <input type="file" id="productImage" name="productImage" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label for="productDescription" class="form-label">Mô tả sản phẩm:</label>
            <textarea id="productDescription" name="productDescription" class="form-control" th:text="${product.description}"></textarea>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="productPrice" class="form-label">Giá sản phẩm (dollars):</label>
                <input th:value="${product.price}" type="number" id="productPrice" name="productPrice" required class="form-control">
            </div>
            <div class="col">
                <label for="productBrand" class="form-label">Hãng của sản phẩm:</label>
                <input th:value="${product.brand.name}" type="text" id="productBrand" name="productBrand" required class="form-control">
            </div>
        </div>
        <div class="row mb-3">
			<div class="col">
				<label for="versionName" class="form-label">Phiên bản:</label>
                <input th:value="${product.versionName != '' ? product.versionName : ''}" placeholder="Enter the version" type="text" id="versionName" name="versionName" required class="form-control">

			</div>
			
			<div class="col">
				<label for="category" class="form-label">Danh mục:</label>
                <select id="category" class="form-control" name="category">
					<option th:value="${product.category != null ? product.category.name : ''}" th:text="${product.category != null ? product.category.name : 'Choose a category'}"></option>
					<option th:each="category : ${CATEGORY_LIST}" th:value="${category.name}"th:text="${category.name}"></option>					
					
				</select>
			</div>
			
		</div>
        <div class="mb-3 text-end">
            <input type="submit" class="btn btn-primary" value="Cập nhật">
            <a  th:href="@{/getProductList(page=${page != null ? page : 1}, id=${product.id})}" class="btn btn-secondary">Đóng</a>
        </div>
    </form>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
