<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>KẾT QUẢ THANH TOÁN</title>
        <!-- Bootstrap core CSS -->
        <link href="assets/bootstrap.min.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="assets/jumbotron-narrow.css" rel="stylesheet"> 
        <script src="assets/jquery-1.11.3.min.js"></script>
    </head>
    <body>
        <!--Begin display -->
        <div class="container">
            <div class="header clearfix">
                <h3 class="text-muted">KẾT QUẢ THANH TOÁN</h3>
            </div>
            
            <div class="tt-breadcrumb">
				<div class="container">
					<ul>
						<li><a th:href="@{/index}">Trang Chủ</a></li>
					</ul>
				</div>
			</div>
            
            <div class="table-responsive">
			    <div class="form-group">
			        <label>Mã giao dịch thanh toán:</label>
			        <label th:text="${param.vnp_TxnRef}"></label>
			    </div>    
			    <div class="form-group">
			        <label>Số tiền:</label>
			        <label th:text="${param.vnp_Amount}"></label>
			    </div>  
			    <div class="form-group">
			        <label>Mô tả giao dịch:</label>
			        <label th:text="${param.vnp_OrderInfo}"></label>
			    </div> 
			    <div class="form-group">
			        <label>Mã lỗi thanh toán:</label>
			        <label th:text="${param.vnp_ResponseCode}"></label>
			    </div> 
			    <div class="form-group">
			        <label>Mã giao dịch tại CTT VNPAY-QR:</label>
			        <label th:text="${param.vnp_TransactionNo}"></label>
			    </div> 
			    <div class="form-group">
			        <label>Mã ngân hàng thanh toán:</label>
			        <label th:text="${param.vnp_BankCode}"></label>
			    </div> 
			    <div class="form-group">
			        <label>Thời gian thanh toán:</label>
			        <label th:text="${param.vnp_PayDate}"></label>
			    </div> 
			    <div class="form-group">
			        <label>Tình trạng giao dịch:</label>
			        <label th:if="${signValue.equals(vnp_SecureHash)}">
			            <span th:if="${'00'.equals(param.vnp_TransactionStatus)}">Thành công</span>
			            <span th:if="${!'00'.equals(param.vnp_TransactionStatus)}">Không thành công</span>
			        </label>
			        <label th:if="${!signValue.equals(vnp_SecureHash)}">invalid signature</label>
			    </div>
			</div>
            <p>
                &nbsp;
            </p>
            <footer class="footer">
                <p>&copy; VNPAY 2020</p>
            </footer>
        </div>  
    </body>
</html>
